{% extends "bootstrap/base.html" %}

{% block title %}One Blog{% endblock title %}

{% block head %}
{{ super() }}
<!-- Custom style -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-paper.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
{% endblock head %}

{% block navbar %}
<!-- Navbar -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">One Blog</a>
    </div>
    <div id="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for item in ['archive', 'tags', 'about'] %}
        <li {% if request.path.split('/')[1] == item %}class='active'{% endif %}>
          <a href="{{ url_for('main.' + item) }}">{{ item.capitalize() }}</a>
        </li>
        {% endfor %}
      </ul> 
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<!-- Flash message -->
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<!-- Page Content -->
<div class="container">
  {% block page_content %}
  {% endblock page_content %}
</div>
{% endblock content %}