{% extends "bootstrap/base.html" %}

{% block title %}One Blog{% endblock title %}

{% block head %}
{{ super() }}
<!-- Custom style -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}">
{% endblock head %}

{% block navbar %}
<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">One Blog</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        {% for item in ['notes', 'projects', 'tags', 'about'] %}
        <li {% if request.path.split('/')[1] == item %}class='active'{% endif %}>
          <a href="{{ url_for('main.' + item) }}">{{ item.capitalize() }}</a>
        </li>
        {% endfor %}
      </ul>
      <ul class="navbar-form navbar-left">
        <a href="{{ url_for('main.write') }}">
          <button type="button" class="btn btn-primary">Create</button>
        </a>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
        {% if current_user.is_authenticated %}
          <a href="{{ url_for('main.logout') }}">Log Out</a>
        {% else %}
          <a href="{{ url_for('main.login') }}">Log In</a>
        </li>
        <li>
          <a href="{{ url_for('main.register') }}">Sign Up</a>
        </li>
        {% endif %}
      </ul> 
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<!-- Flash message -->
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<!-- Page Content -->
<div class="container">
  {% block page_content %}
  {% endblock page_content %}
</div>
{% endblock content %}