{% extends "write.html" %}

{% block title %}Edit{% endblock title%}

{% block page_content %}
    <div class="page-header">
        <h1>Edit a blog</h1>
    </div>

    <div class="row">
        <form method="post" action="{{ url_for('main.edit', index=index) }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label }}
                {% if form.title.errors %}
                    {% for e in form.title.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.title(class_='form-control') }}
            </div>

            <div class="form-group">
                {{ form.tags.label }}
                {% if form.tags.errors %}
                    {% for e in form.tags.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.tags(class_='form-control') }}
            </div>

            <div class="form-group">
                {{ form.content.label }}
                {% if form.content.errors %}
                    {% for e in form.content.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                <div id="editormd" class="form-control">
                    {{ form.content(style="display:none;") }}
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Save">
        </form>
    </div>
{% endblock page_content %}