{% extends "base.html" %}

{% block head %}
{{ super() }}
<!-- Custom style -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codehilite.css') }}">
{% endblock head %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 blog-entries">
        {% for note in notes %}
            <h2>
                <a href="{{ url_for('main.note', index=note.index) }}">
                    {{ note.title }}
                </a>
            </h2>
                <p>
                    <span class="glyphicon glyphicon-time"></span>
                    Posted by luojl on {{ note.str_added_time }}
                </p>
                <hr>
                {{ note.markdown2html() }}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock page_content %}