{% extends "notes.html" %}

{% block page_content %}
<div class="page-header">
  <h1>{{ note.title }}</h1>
</div>
<div class="row post-full">
    <div class="col-md-12">
        <div class="date">
            <span>{{ note.str_added_time }}</span>
            •
            {% for tag in note.tags %}
            <a href="{{ url_for('main.tag', tagname=tag) }}">{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="content">
            {{ note.markdown2html() }}
        </div>
    </div>
</div>
{% endblock page_content %}